<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
      <!-- set viewport to device width to allow responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css">

    <!-- Add hamburg icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- outsite resourse? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
   <!-- Custom JS -->
    <script src="/scripts/app.js"></script>

  <title>exBook</title>
</head>
<body>
  <nav> <!--nav bar-->
    <h2>exBook</h2>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
    <div class="navButtons">
      <a href="" class="loginButton"><h3>Login</h3></a>
      <a href="" class="postButton"><h3>Post</h3></a>
    </div>
    <div class="miniNav">
      <a href="" class="loginButton"><h3>Login</h3></a>
      <a href="" class="postButton"><h3>Post</h3></a>
    </div>
  </nav>
  <!-- Login Form -->
  <div id="loginModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
      <!-- <img id="modalImg" src="#"> -->
      <p id="modalP"></p>
      <h1>exBook</h1>
      <span>Dont't have an account? <button id="signupButton" type="button">Sign up</button></span>
      <form id="loginForm" method="post">
      <input type="text" placeholder="User Name">
      <input type="text" placeholder="Password">
      <button type="button" class="login-button">Log in</button>
      <div>
        <a href="">Forgot Password?</a>
      </div>
       </form>
       <hr>
       <button class="fa fa-facebook" id="fb">
          <div>Log in with Facebook</div>
        </button>
    </div>
  </div>

    <!-- Sign Up Form -->
    <div id="signupModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
      <p id="signupmodalP"></p>
       <h1>exBook</h1>
       <form id="SignupForm" method="get">
      <input type="text" placeholder="User Name">
      <input type="text" placeholder="Password">
      <input type="number" placeholder="zipcode">
      <input type="email" placeholder="email">
      <button type="button" class="signup-button-p">Sign Up</button>
       </form>
       <hr>
       <button class="fa fa-facebook" id="fb">
          <div>Sign Up with Facebook</div>
        </button>
    </div>
  </div>

    <!-- Posting Form -->
<div id="postModal" class="modal">
  <div class="modalContent">
    <span class="close">&times;</span>
    <form id="postForm">
      <h1>exBook -  Sell your book</h1>
      <input type="text" name="subject" placeholder="subject">
      <input type="text" name="title" placeholder="title">
      <input type="number" name="volume" placeholder="volume/ISBN">
      <input type="number" name="price" placeholder="price">
      <input type="number" name="location" placeholder="zipcode">
      <button type="submit" name="submit" id="postSubmit">submit</button>
    </form>
  </div>
</div>

    <!-- profile Form -->
    <div id="profileModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
      <form id="profileForm">
      </form>

    </div>
  </div>

 <!--  map -->
<div class="container">
  <div class="column">
    <div class="googleMap">
      <div id="map"></div>
    </div>
    <div id="info">
      <h1>exBook - Find your Book</h1>
    </div>
<!--  Search form -->
    <div class="searchForm">
      <form id="search" method="get" action="" name="quickSearch">
        <fieldset class="fs-search">
          <input type="hidden" name="ds" value="20">
          <input type="hidden" name="sts" value="t">
          <label for="searchBy">Search</label>
          <select id="searchBy" name="sby">
            <option value="tit">By Title</option>
            <option value="volume">By ISBN</option>
          </select>
          <input class="search-in" id="searchText" type="text" name="stext" maxlength="100" aria-label="Search Exbook">
          <button id="search-btn" type="submit"><span>Find</span></button>
        </fieldset>
        <input type="hidden" name="cm-sp" value="Search-result">
      </form>
    </div>
  </div>
</div>
  <!--  Results -->
<div id="results"></div>
</body>
</html>
