<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
      <!-- set viewport to device width to allow responsiveness -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/styles/style.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Google Maps API -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
   <!-- Custom JS -->
    <script src="/scripts/app.js"></script>
    <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <title>exBook</title>
</head>
  <header>
    <nav>
      <div class="nav">
        <a id="logo">exBook</a>
          <div class ="navButton">
        <a href="" id="loginButton">Login</a>
        <a>|</a>
        <a href="" id="postButton">Post</a>
        <a href="" id="aboutButton">About Us</a>

         </div>
      </div>
    </nav>
  </header>
<body>

  <!-- Login Form -->
  <div id="loginModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
      <!-- <img id="modalImg" src="#"> -->
      <p id="modalP"></p>
        <span>Dont't have an account? <button id="signupButton" type="button">Sign up</button></span>
       <form id="loginForm" method="post">

      <div>
        <label>User Name</label>
        <br>
        <input type="text" name="userName" data-input-field-enter-intercept="login">
      </div>
      <div>
        <label>Password</label>
        <br>
        <input type="password" name="Password" data-input-field-enter-intercept="login">
      </div>
      <div>
        <button type="button" class="login-button">Log in</button>
      </div>
      <div>
        <a href="">Forgot Password?</a>
      </div>
       </form>
       <hr>
       <button class="fa fa-facebook" id="fb">
          <div>Log in with Facebook</div>
        </button>
    </div>
  </div>

    <!-- Sign Up Form -->
    <div id="signupModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
      <p id="signupmodalP"></p>
       <form id="SignupForm" method="get">

      <div>
        <label>User Name</label>
        <br>
        <input type="text" name="userName" data-input-field-enter-intercept="signup">
      </div>
      <div>
        <label>Password</label>
        <br>
        <input type="password" name="Password" data-input-field-enter-intercept="signup">
      </div>
      <div>
        <button type="button" class="signup-button-p">Sign Up</button>
      </div>
       </form>
       <hr>
       <button class="fa fa-facebook" id="fb">
          <div>Sign Up with Facebook</div>
        </button>
    </div>
  </div>

    <!-- Posting Form -->
    <div id="postModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
            <p id="postmodalP"></p>
       <form id="postForm" method="get">
            <label for="subject">Subject</label>
            <select id="subject" name="subjectby">
              <option value="sub"> Archaeology & Anthropology</option>
              <option value="sub"> Biological Sciences</option>
              <option value="sub"> Chemistry</option>
              <option value="sub"> Computer Science</option>
              <option value="sub"> Engineering</option>
              <option value="sub"> English</option>
              <option value="sub"> Geography</option>
              <option value="sub"> Law</option>
              <option value="sub"> Mathematics</option>
              <option value="sub"> Modern Languages</option>
              <option value="sub"> Music</option>
              <option value="sub"> Philosophy, Politics & Economics</option>
              <option value="sub"> Theology & Religion</option>

            </select>
      <div>
        <label>Title</label>
        <br>
        <input type="text" name="Title" data-input-field-enter-intercept="post">
      </div>
      <div>
        <label>price</label>
        <br>
        <input type="text" name="price" data-input-field-enter-intercept="post">
      </div>
      <div>
        <button type="button" class="post-button">Posting</button>
      </div>
       </form>

    </div>
  </div>

    <!-- profile Form -->
    <div id="profileModal" class="modal">
    <div class="modalContent">
      <span class="close">&times;</span>
    </div>
  </div>

 <!--  map -->
<div class="container">
  <div class="column">
    <div class="col-xs-12 col-md-12">
      <div id="map"></div>
    </div>

<!--  Search form -->
    <div class="col-xs-12 col-md-12">
      <div id="info">
        <h1>exBOOK - Find your Book</h1>
      </div>
    </div>
    <div class="col-xs-12 col-md-12">
      <div class="searchForm">
        <form id="search" method="get" action="" name="quickSearch">
          <fieldset class="fs-search">
            <input type="hidden" name="ds" value="20">
            <input type="hidden" name="sts" value="t">
            <label for="searchBy">Search</label>
            <select id="searchBy" name="sby">
              <option value="tit">By Title</option>
              <option value="volume">By ISBN</option>
            </select>
            <input class="search-in" id="searchText" type="text" name="stext" maxlength="100" aria-label="Search Exbook">
            <button id="search-btn" type="submit"><span>Find</span></button>
          </fieldset>
          <input type="hidden" name="cm-sp" value="Search-result">
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
