@import url('https://fonts.googleapis.com/css?family=Nunito');

/*
main stuff
================================================*/
body{
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #ffffff;
  color: #79B279;
}

h2 {
  margin: 0;
  color: #B2678C;
}
h3 {
  margin: 0;
  color: #B2678C;
}
a {
  text-decoration: none;
  color: #B2678C;
}

hr {
  width: 50vw;
}
p {
  margin:0;
}
input{
  padding: 10px;
}
button{
  padding: 8px;
  margin-top: 5px;
}
/*
Nav Bar
========================*/
nav {
  padding: 1em;
  background-color: #E0FFE0 ;
  text-align: left;
}

nav div a h3:hover {
  transition: .2s ease;
  color: #FFC7E2;
}

nav div a h3:not(:hover){
  transition: .2s ease;
  color: #B2678C;
}

.navButtons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.navButtons h3{
  margin: 0;
  padding-left: 2em;
  padding-right: 2em;
}

.miniNav {
  display: none;
  text-align: center;
}

.miniNav h3 {
  padding: 1em;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar{
    width: 35px;
    height: 5px;
    background-color: #B2678C;
    margin: 6px 0;
    transition: 0.4s;
}

h1 {
  margin: 0;
  font-size: 3em;
  color: #B2678C;
}

/*
body
========================*/
button:hover {
  transition: .2s ease;
  color: #FFC7E2;
  border: solid #FFC7E2;
}

button:not(:hover){
  transition: .2s ease;
  color: #B2678C;
  border: solid #B2678C;
}


/* modals
================================================*/
.container {
  padding: 2em;
}

#map {
  height: 600px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modalContent {
    background-color: #fefefe;
    /*margin: 5em;*/
    padding: 20px;
    border: 1px solid #888;
    /*width: 100%*/
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Search Form
================================================*/
fieldset{
  border: none;
}

#search {
  background: #E0FFE0;
  padding: 8px
}

#search-btn{
  margin-top: 10px;
}
#info h1{
  text-align: center;
}
.searchDiv input{
  flex-flow: row;
  width: 70%;
  padding-top: 12px;
}

/*Login Form
================================================*/
#loginModal{
    text-align: center;
}
#signupModal{
    text-align: center;
}

/*Button*/
#signupButton {
  font-weight:bold;
  text-decoration: underline
}
#signupButton{
  border:none;
}
.login-button {
  color: white;
  position: wrap;
  margin-top: 10px;
  width: 100%;
}
.signup-button-p {
  color: white;
  position: wrap;
  margin-top: 10px;
  width: 100%;
}
/*Posting Page*/
#postSubmit {
  margin-top: 10px;
  width: 100%;
}
#postForm h1{
  text-align: center;
}
/*facebook icon*/
.fa {
  width: 100%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Facebook */
.fa-facebook {
    font-family: 'Roboto', sans-serif;
}
/* Result*/
#results{
    margin: 1%;
    border-radius: 2px;
    flex: 1 200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

/*
media screen
====================*/

@media screen and (max-width: 600px) {

nav {
    /*position: fixed;*/
    width: 100%;
    /*z-index: 1;*/
  }

.hamburger {
    display: inline-block;
  }

nav h2 {
  display: none;
}

.navButtons {
  display: none;
  text-align: center;
}

.navButtons h3{
  padding: 1em;
}
/* Media Sign Up Form */
#signupModal input{
  flex-flow: column;
  display: block;
  width: 95%;
}
/* Media login Form */
#loginModal input{
  flex-flow: column;
  display: block;
  width: 95%;
}
/* Media posting Form */
#postModal input{
  flex-flow: column;
  display: block;
  width: 100%;
}
/* Media search Form */
#searchForm l input{
  flex-flow: column;
  display: block;
  width:95%;
}
#searchForm button{
  flex-flow: column;
  display: block;
  width: 70%;
  margin-top: 5px;
  margin-left: 6em;
}
/* Media screen end */
}
